h1{
    color:var(--primary-color);
}

.contact-form-container{
    background: var(--secondary-color);
    box-shadow: 19px 21px 13px -10px var(--boxshadow-color);
    border-radius: 3rem;
}
.contact-form-container img{
    width: 42rem;
    aspect-ratio: 8/9;
}
.contact-form-container form button{
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    box-shadow: 5px 4px 25px -3px var(--boxshadow-color);
}
textarea{
    height: 15rem;
}

@media (max-width: 750px) {
    .contact-form-container{
        height: fit-content !important;
        padding: 5rem;
    }.contact-form-container img{
        display: none;
    }
    .contact-form-container form  div{
        width: 100%;
        align-items: flex-start;
    }
}